{% extends "leave/base.html" %}
{% block content %}
<h2>Set New Password</h2>
{% if error_message %}
<div class="alert alert-danger">{{ error_message }}</div>
{% endif %}
{% if success_message %}
<div class="alert alert-success">{{ success_message }}</div>
{% endif %}
{% if not success_message %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="password">New Password:</label>
        <input type="password" name="password" id="password" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
    </div>
    <div class="d-flex justify-content-start text-center gap-3">
        <div>
    <button type="submit" class="btn btn-success">Reset Password</button>
</div>
<div>
    <a href="{% url 'login' %}"> Cancel password resetting?</a>
</div>
</div>
</form>
<p>Use a strong password with a mix of letters, numbers, and special characters for better security.</p>

{% endif %}
{% endblock %}